<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ODFPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ODFPlugin.Properties.Settings>
            <setting name="CloseViewFilesAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepBackupOfODFs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteMorphsAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
        </ODFPlugin.Properties.Settings>
    </userSettings>
</configuration>