<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnityPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnityPlugin.Properties.Settings>
            <setting name="KeepBackupOfUnity3d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupExtensionUnity3d" serializeAs="String">
                <value>.unit-y3d</value>
            </setting>
            <setting name="BackupExtensionAssets" serializeAs="String">
                <value>.asse-ts</value>
            </setting>
            <setting name="BackupExtensionNone" serializeAs="String">
                <value>.none</value>
            </setting>
            <setting name="DialogRendererMeshAttributesSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ArgToHashExecutable" serializeAs="String">
                <value>.\StringToHash\ArgToHash.exe</value>
            </setting>
            <setting name="ArgToHashArguments" serializeAs="String">
                <value>-nolog -batchmode -nographics -server</value>
            </setting>
        </UnityPlugin.Properties.Settings>
    </applicationSettings>
</configuration>